<footer class="footer">
  <div class="container">
    <a href="mailto:{{ site.email }}">
      <i class="fa fa-envelope-o"></i>
    </a>
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github"></i>
    </a>
    {% endif %}
    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.github_username }}">
      <i class="fa fa-twitter"></i>
    </a>
    {% endif %}
  </div>
</footer>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/emojione/2.2.6/lib/js/emojione.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>
<script type="text/javascript" src="/js/loader.js"></script>

<script type="text/javascript">
window.repo_url = 'https://api.github.com/search/repositories?q=user%3A{{ site.github_username }}+fork%3Atrue&sort=updated&order=desc';
window.info_url = 'https://api.github.com/users/{{site.github_username}}';
</script>
