<section class="header hero is-medium is-danger is-bold">
  <div class="hero-head">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a href="//www.compile.com" class="nav-item">
            <img src="images/compile-logo.svg" title="{{ site.title }}" height="24px" />
          </a>
        </div>
        <div class="nav-right">
          <span class="nav-item"><a class="button is-light is-outlined" href="https://www.compile.com">About</a></span>
        </div>
      </nav>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <p class="title">Hello World!</p>
      <p class="subtitle">{{ site.description }}</p>
    </div>
  </div>
</section>