<section class="hero is-info is-bold is-medium">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <img src="images/compile-logo.svg" title="{{ site.title }}" width="100px" />
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <span class="nav-item">
            <a class="button is-light is-outlined" href="https://www.compile.com">
              <span class="icon">
                <i class="fa fa-home"></i>
              </span>
              <span>About</span>
            </a>
          </span>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8">
          <h1 class="title">
            Hello World!
          </h1>
          <h2 class="subtitle">
            {{ site.description }}
          </h2>
        </div>
        <div class="column is-4">
          <div class="column" id="user-info"></div>
        </div>
      </div>
    </div>
  </div>
</section>
